/*
@File: Alysa Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default Area CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - Services Area CSS
** - Portfolio Area CSS
** - About Area CSS
** - Testimonial Area CSS
** - Blog Area CSS
** - CTA Area CSS
** - Page Title Area CSS
** - Blog Details Area CSS
** - Contact Area CSS
** - Copyright Area CSS
** - Go Top Area CSS
*/

/*================================================
Default Area CSS
=================================================*/
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');

$main-font-family: 'Nunito', sans-serif;
$optional-font-family: 'Poppins', sans-serif;
$optional-heading-font-family: 'Playfair Display', serif;
$main-color: #ffde29;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 16px;
$transition: .5s;

body {
    padding: 0;
    margin: 0;
    font: {
        family: $main-font-family;
        size: $font-size;
    }
}
a {
    display: block;
    transition: $transition;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: $black-color;
}
img {
    max-width: 100%;
}
p {
    margin-bottom: 15px;
    line-height: 1.7;
    color: $black-color;
    font-size: $font-size;

    &:last-child {
        margin-bottom: 0;
    }
}
.bg-main-color {
    background-color: $main-color;
}
.bg-black-color {
    background-color: $black-color;
}
.bg-gray-light {
    background-color: #f4feff;
}
.bg-gray-black {
    background-color: #011f34;
}
.bg-pink-color {
    background-color: #ff1493;
}
.bg-dark-color {
    background-color: $black-color;
}
.bg-gray-dark {
    background-color: #111111;
}
.bg-f6f7fd {
    background-color: #f6f7fd;
}
.ptb-120 {
    padding: {
        top: 120px;
        bottom: 120px;
    }
}
/*section-title*/
.section-title {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 105px;
    margin: {
        bottom: 30px;
        top: -9px;
    }
    h2 {
        margin-bottom: 0;
        text-transform: uppercase;
        font: {
            size: 38px;
            family: $optional-heading-font-family;
            weight: 700;
        }
    }
    .back-text {
        position: absolute;
        top: -80px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
        color: $black-color;
        opacity: .04;
        text-transform: uppercase;
        font: {
            size: 146px;
            weight: 900;
        }
    }
    &::before {
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 1px;
        height: 50px;
        background: $black-color;
        position: absolute;
    }
    &.white-color {
        h2 {
            color: $white-color;
        }
        .back-text {
            opacity: .06;
            color: $white-color;
        }
        &::before {
            background: $main-color;
        }
    }
}
/*btn-primary*/
.btn {
    border: none;
    padding: 11px 32px;
    line-height: initial;
    border-radius: 5px;
    transition: $transition;
    font: {
        weight: 700;
        size: 18px;
    }
    &.disabled, &:disabled {
        opacity: 1;
    }
}
.btn-primary {
    color: $black-color;
    background-color: $main-color;

    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
        box-shadow: none;
        background-color: $white-color;
        color: $black-color;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus {
        box-shadow: unset;
    }
    &:hover, &:focus {
        box-shadow: none;
        background-color: $white-color;
        color: $black-color;
    }
}
/*form-control */
.form-control {
    height: 35px;
    padding: 0 0 15px;
    font-size: 15px;
    line-height: initial;
    color: $black-color;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $black-color;
    transition: $transition;

    &::placeholder {
        color: $black-color;
    }
    &:focus {
        box-shadow: unset;
        background-color: transparent;
        color: $black-color;
        border-color: $black-color;
    }
}
textarea {
    &.form-control {
        min-height: 120px;
    }
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    z-index: 999999;
    text-align: center;

    .spinner {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 46%;
        transform: translateY(-46%);

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $white-color;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        .double-bounce2 {
            animation-delay: -1.0s;
        }
    }
}
@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
    }
    50% { 
        transform: scale(1.0);
    }
}

/*================================================
Navbar Area CSS
=================================================*/
.bg-light {
    background-color: $main-color !important;

    &.bg-gray-light {
        background-color: #f4feff !important;
    }
    &.bg-dark-color {
        background-color: $black-color !important;
    }
    &.transparent-navbar {
        background-color: transparent !important;
    }
}
.navbar {
    padding: 0;

    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        background-color: $white-color !important;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        padding: {
            top: 20px;
            bottom: 20px;
        }
    }
    &.navbar-style-two {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 9999;
        padding-top: 20px;

        &.is-sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background-color: $white-color !important;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            padding: {
                top: 20px;
                bottom: 20px;
            }
        }
    }
    &.navbar-style-three {
        position: relative;
        margin-top: -60px;

        &.is-sticky {
            margin-top: 0;
            position: fixed;
        }
    }
    &.transparent-navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 9999;
        padding-top: 20px;

        &.is-sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background-color: $white-color !important;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            padding: {
                top: 20px;
                bottom: 20px;
            }
        }
    }
}
.navbar-light {
    .navbar-brand {
        padding: {
            top: 0;
            bottom: 0;
        }
    }
    .navbar-nav {
        margin-left: auto;

        .nav-item {
            padding: {
                right: 15px;
                left: 15px;
                top: 0;
                bottom: 0;
            }
            .nav-link {
                color: $black-color;
                text-transform: uppercase;
                position: relative;
                font: {
                    size: 15px;
                    weight: 600;
                }
                padding: {
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 1.5px;
                    background: $black-color;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition;
                }
                &:hover, &.active {
                    &::before {
                        width: 100%;
                        right: auto;
                        left: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &.bg-dark-color {
        .navbar-brand {
            img {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white-color;

                    &::before {
                        background: $white-color;
                    }
                }
            }
        }
        &.is-sticky {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $black-color;
    
                        &::before {
                            background: $black-color;
                        }
                    }
                }
            }
            .navbar-brand {
                img {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
    &.transparent-navbar {
        .navbar-brand {
            img {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white-color;
                    
                    &::before {
                        background: $white-color;
                    }
                }
            }
        }
        &.is-sticky {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $black-color;
                        
                        &::before {
                            background: $black-color;
                        }
                    }
                }
            }
            .navbar-brand {
                img {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
}

/*================================================
Main Banner Area CSS
=================================================*/
.home-area {
    overflow: hidden;
}
.main-banner {
    height: 100vh;
}
.particles-js-banner {
    position: relative;

    .main-banner-content {
        position: relative;
        z-index: 2;
    }
    .banner-image {
        position: relative;
        z-index: 2;
    }
}
#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.main-banner-content {
    span {
        display: block;
        color: $black-color;
        font-family: $optional-font-family;
    }
    .title {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: {
            top: 5px;
            bottom: -10px;
        }
        padding: {
            top: 55px;
            bottom: 55px;
            right: 150px;
        }
        h5 {
            margin: {
                bottom: 0;
            }
            color: $white-color;
            transform-origin: 0 0;
            transform: rotate(-6deg);
            font: {
                size: 22px;
                family: $optional-heading-font-family;
            }
        }
        h1 {
            margin: {
                bottom: 0;
            }
            color: $white-color;
            transform-origin: 0 0;
            transform: rotate(-6deg);
            font: {
                size: 52px;
                weight: 700;
                family: $optional-heading-font-family;
            }
        }
        &::before {
            position: absolute;
            left: -110px;
            top: 0;
            content: '';
            z-index: -1;
            width: 100%;
            height: 100%;
            background: {
                image: url(../../assets/img/paper-shape.png);
                position: center center;
                size: cover;
                repeat: no-repeat;
            }
        }
    }
    p {
        font-family: $optional-font-family;
        display: block;
    }
    &.white-color {
        span {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
    }
}
.main-banner-image {
    position: relative;
    z-index: 1;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: -15px;
        border: 10px solid #eeeeee;
        width: 106%;
        height: 80%;
        z-index: -1;
    }
}
.background-image-banner {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: {
        color: $black-color;
        image: url(../../assets/img/main-banner1.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .78;
        left: 0;
        bottom: 0;
    }
}
.hero-content {
    text-align: center;
    margin: {
        left: auto;
        right: auto;
    }
    img {
        border-radius: 50%;
        margin-bottom: 25px;
        width: 200px;
        height: 200px;
        border: 5px solid $white-color;
    }
    span {
        display: block;
        color: $white-color;
        font: {
            family: $optional-font-family;
            size: 17px;
        }
    }
    .title {
        margin: {
            top: 12px;
            bottom: 17px;
        }
        h1 {
            margin: {
                bottom: 0;
            }
            color: $white-color;
            font: {
                size: 45px;
                weight: 500;
                family: $optional-heading-font-family;
            }
            a, span {
                display: inline-block;
                color: $main-color;
                font: {
                    size: 45px;
                    weight: 700;
                    family: $optional-heading-font-family;
                }
            }
        }
    }
    p {
        opacity: .90;
        font-family: $optional-font-family;
        display: block;
        color: $white-color;
    }
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
    padding-bottom: 90px;

    &.bg-black-color {
        .section-title {
            h2 {
                color: $white-color;
            }
            .back-text {
                opacity: .06;
                color: $white-color;
            }
            &::before {
                background: $main-color;
            }
        }
    }
}
.single-services-box {
    margin-bottom: 30px;
    position: relative;
    padding: 30px;
    background: $black-color;

    .icon {
        display: inline-block;
        width: 75px;
        height: 72px;
        background: $main-color;
        position: absolute;
        top: 0;
        left: 23px;
        transition: $transition;
        color: $black-color;
        text-align: center;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            
            &::before {
                font-size: 40px;
            }
            &.flaticon-camera {
                top: 90%;
                transform: translateY(-90%);
            }
        }
    }
    h3 {
        color: $white-color;
        margin-bottom: 0;
        padding-left: 93px;
        transition: $transition;
        font: {
            size: 24px;
            weight: 700;
        }
    }
    p {
        color: #eeeeee;
        margin-top: 45px;
        transition: $transition;
    }
    &:hover {
        .icon {
            color: $black-color;
            background: $white-color;
        }
    }
    &.bg-main-color {
        background: $main-color;
        
        .icon {
            background: $black-color;
            color: $main-color;
        }
        h3 {
            color: $black-color;
        }
        p {
            color: $black-color;
        }
        &:hover {
            .icon {
                color: $black-color;
                background: $white-color;
            }
        }
    }
    &.bg-white-color {
        background: $white-color;
        
        .icon {
            background: $black-color;
            color: $main-color;
        }
        h3 {
            color: $black-color;
        }
        p {
            color: $black-color;
        }
        &:hover {
            .icon {
                color: $black-color;
                background: $main-color;
            }
        }
    }
    &.bg-gray-dark {
        background-color: #111111;
        transition: $transition;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);

        &:hover {
            background-color: $main-color;

            h3 {
                color: $black-color;
            }
            p {
                color: $black-color;
            }
        }
    }
    &.bg-dark-color {
        background-color: $black-color;
        transition: $transition;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);

        &:hover {
            background-color: $main-color;

            h3 {
                color: $black-color;
            }
            p {
                color: #313131;
            }
        }
    }
}
.services-box {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
    padding: 25px;
    transition: $transition;
    background-color: $white-color;

    .icon {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border: 1px solid transparent;
        transition: $transition;
        
        i {
            &::before {
                font-size: 30px;
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 1px;
            width: 100%;
            height: 100%;
            top: -1px;
            border: 4px solid #e8e7e7;
            border-radius: 50%;
            transition: $transition;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            left: -3px;
            position: absolute;
            top: -3px;
            border: 2px solid #e8e7e7;
            border-radius: 50%;
            transition: $transition;
        }
    }
    h3 {
        margin-bottom: 12px;
        font: {
            size: 24px;
            weight: 700;
        }
    }
    p {
        color: #524c4c;
    }
    &:hover {
        transform: translateY(-5px);

        .icon {
            &::before {
                border-color: $main-color;
            }
            &::after {
                border-color: $main-color;
            }
        }
    }
}

/*================================================
Portfolio Area CSS
=================================================*/
.shorting-menu {
    text-align: center;
    margin-bottom: 20px;

    .filter {
        border: 1px solid $black-color;
        background: transparent;
        font-size: 16px;
        font-weight: 600;
        padding: 5px 15px;
        margin: 0 2px;
        transition: $transition;
        outline: 0;

        i {
            margin-right: 2px;

            &::before {
                font-size: 13px;
            }
        }
        &.active, &:hover {
            background-color: $black-color;
            color: $white-color;
        }
    }
    &.white-color {
        .filter {
            background-color: #111111;
            border-color: #111111;
            color: $white-color;
            
            &.active, &:hover {
                background-color: $white-color;
                color: $black-color;
            }
        }
    }
}
.shorting {
    .mix {
        display: none;
    }
}
.single-portfolio-box {
    position: relative;
    margin-top: 30px;
    overflow: hidden;

    img {
        transition: .9s;
    }
    .popup-btn {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: 2;
    }
    .portfolio-content {
        position: absolute;
        left: 0;
        background-color: $black-color;
        bottom: 20px;
        padding: 25px;
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        z-index: 3;

        h3 {
            margin-bottom: 0;
            font: {
                size: 24px;
                weight: 700;
            }
            a {
                color: $main-color;
            }
        }
        span {
            display: block;
            color: $white-color;
            margin-top: 8px;
            font: {
                size: 15px;
                weight: 700;
            }
        }
    }
    &:hover {
        img {
            transform: rotate(15deg) scale(1.4);
        }
        .portfolio-content {
            bottom: 30px;
            opacity: 1;
            visibility: visible;
        }
    }
}

/*================================================
About Area CSS
=================================================*/
.about-image {
    text-align: center;
    position: relative;
    z-index: 1;

    .shape-image {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin: 0 auto;
        z-index: -1;
    }
}
.about-content {
    padding-left: 25px;

    h3 {
        margin-bottom: 30px;
        font: {
            size: 24px;
            weight: 700;
        }
    }
    .experience-list {
        padding-left: 0;
        margin-bottom: 40px;
        list-style-type: none;

        li {
            position: relative;
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #dec124;
            font-weight: 600;
            padding-left: 95px;

            span {
                position: absolute;
                left: 0;
                top: 3px;
                font-size: 17px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .skills-list {
        position:relative;
    
        .skill-item {
            position: relative;
            margin-bottom: 20px;
        
            .skill-header {
                position: relative;
                margin-bottom: 8px;
    
                .skill-title {
                    margin-bottom: 0;
                    font: {
                        size: 16px;
                        weight: 600;
                    }
                }
                .skill-percentage {
                    position: absolute;
                    right: 0;
                    top: 1px;
                    font: {
                        size: 14px;
                        weight: 700;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            .skill-bar {
                position: relative;
                width: 100%;
    
                .bar-inner {
                    position: relative;
                    width: 100%;
                    border-bottom: 6px solid #dec124;
                    border-radius: 30px;
    
                    .bar {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 0px;
                        height: 7px;
                        background: $black-color;
                        transition: all 2000ms ease;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
    &.gray-light-color {
        .experience-list {
            li {
                border-color: #c8d2d3;
            }
        }
        .skills-list {
            .skill-item {
                .skill-bar {
                    .bar-inner {
                        border-color: #c8d2d3;
                    }
                }
            }
        }
    }
    &.white-color {
        h3 {
            color: $white-color;
        }
        .experience-list {
            li {
                border-color: #232323;
                color: #dddddd;
            }
        }
        .skills-list {
            .skill-item {
                .skill-header {
                    .skill-title {
                        color: $white-color;
                    }
                    .skill-percentage {
                        color: $white-color;
                    }
                }
                .skill-bar {
                    .bar-inner {
                        border-color: #2c2c2c;

                        .bar {
                            background: $main-color;
                        }
                    }
                }
            }
        }
    }
}
.about-info-content {
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            top: 13px;
            bottom: 30px;
            right: -15px;
            left: -15px;
        }
        li {
            color: #524c4c;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            margin-top: 12px;
            padding: {
                left: 15px;
                right: 15px;
            }
            span {
                font-weight: 700;
                display: inline-block;
                min-width: 85px;
                color: $black-color;
            }
            a {
                display: inline-block;
                color: $black-color;
            }
        }
    }
    .btn-primary {
        &:hover, &:focus {
            background-color: $black-color !important;
            color: $white-color !important;
        }
    }
}
.funfacts-area {
    border: {
        top: 1px solid #e3c624;
        bottom: 1px solid #e3c624;
    }
    margin-top: 120px;
    padding: {
        top: 50px;
        bottom: 50px;
    }
    &.gray-light-color {
        border-color: #eeeeee;
    }
    &.white-color {
        border-color: #232323;
    }
}
.single-funfact {
    text-align: center;

    h3 {
        margin-bottom: 0;
        font: {
            size: 42px;
            weight: 700;
        }
        .odometer {
            &.odometer-auto-theme {
                position: relative;
                top: -3px;
            }
        }
    }
    p {
        font: {
            size: 14px;
            weight: 600;
        }
        text-transform: uppercase;
        line-height: initial;
        margin: {
            bottom: 0;
        }
    }
    &.white-color {
        h3 {
            color: $main-color;
        }
        p {
            color: $white-color;
        }
    }
}

/*================================================
Testimonial Area CSS
=================================================*/
.testimonial-area {
    padding-bottom: 90px;

    .section-title {
        h2 {
            color: $white-color;
        }
        .back-text {
            opacity: .06;
            color: $white-color;
        }
        &::before {
            background: $main-color;
        }
    }
}
.single-feedback-item {
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
    background-color: $main-color;
    border-radius: 5px;

    p {
        font-weight: 600;
        margin-bottom: 0;
    }
    .client-info {
        margin-top: 15px;
        position: relative;
        padding-left: 60px;
        
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
        h3 {
            margin-bottom: 2px;
            font: {
                size: 17px;
                weight: 700;
            }
        }
        span {
            display: block;
            font-size: 14px;
        }
    }
    i {
        position: absolute;
        color: $black-color;
        opacity: .15;
        right: 15px;
        bottom: 0;

        &::before {
            font-size: 75px;
        }
    }
    &.bg-white {
        background-color: $white-color;
    }
    &.bg-dark {
        background-color: $black-color !important;
        transition: $transition;

        p {
            color: #eeeeee;
            transition: $transition;
        }
        .client-info {
            h3 {
                color: $white-color;
                transition: $transition;
            }
            span {
                color: #eeeeee;
                transition: $transition;
            }
        }
        &:hover {
            background-color: $main-color !important;

            p {
                color: #331133;
            }
            .client-info {
                h3 {
                    color: $black-color;
                }
                span {
                    color: #331133;
                }
            }
        }
    }
    &.bg-gray-dark {
        background-color: #111111;
        transition: $transition;

        p {
            color: #eeeeee;
            transition: $transition;
        }
        .client-info {
            h3 {
                color: $white-color;
                transition: $transition;
            }
            span {
                color: #eeeeee;
                transition: $transition;
            }
        }
        &:hover {
            background-color: $main-color;

            p {
                color: #313131;
            }
            .client-info {
                h3 {
                    color: $black-color;
                }
                span {
                    color: #313131;
                }
            }
        }
    }
}
.feedback-area {
    position: relative;
    z-index: 1;
    background: {
        color: $black-color;
        image: url(../../assets/img/main-banner1.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .78;
        left: 0;
        bottom: 0;
    }
}
.single-feedback {
    text-align: center;
    max-width: 700px;
    margin: {
        left: auto;
        right: auto;
    }
    i {
        font-size: 35px;
        color: $white-color;
    }
    p {
        color: $white-color;
        margin: {
            bottom: 0;
            top: 25px;
        }
        font: {
            size: 28px;
            style: italic;
            weight: 600;
        }
    }
    h3 {
        display: inline-block;
        position: relative;
        padding-left: 27px;
        margin: {
            bottom: 0;
            top: 30px;
        }
        color: $white-color;
        font: {
            size: 20px;
            weight: 600;
        }
        span {
            font-size: 16px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 6px;
            width: 20px;
            height: 1px;
            background: $white-color;
        }
    }
}
.feedback-slides {
    cursor: e-resize;
}

/*================================================
Blog Area CSS
=================================================*/
.blog-area {
    padding-bottom: 90px;

    .pagination-area {
        margin-bottom: 30px;
    }
}
.single-blog-post {
    margin-bottom: 30px;
    transition: $transition;

    .post-image {
        overflow: hidden;

        a {
            img {
                border-radius: 5px 5px 0 0;
                transition: $transition;
            }
        }
    }
    .post-content {
        border: 1px solid #d9bd23;
        border-top: none;
        padding: 20px;
        border-radius: 0 0 5px 5px;

        h3 {
            margin-bottom: 13px;
            line-height: 1.4;
            font: {
                size: 24px;
                weight: 700;
            }
            a {
                color: $black-color;
                position: relative;
                display: inline;
                transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
                padding: 0.1% 0px;
                background: {
                    image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
                    image: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
                    image: -o-linear-gradient(left, currentColor 0%, currentColor 100%);
                    image: linear-gradient(to right, currentColor 0%, currentColor 100%);
                    size: 0px 2px;
                    position: 0px 95%;
                    repeat: no-repeat;
                }
                &:hover {
                    background-size: 100% 2px;
                }
            }
        }
        p {
            font-weight: 600;
            margin-bottom: 15px;
            color: #313131;
        }
        .read-more-btn {
            display: inline-block;
            text-transform: uppercase;
            color: $black-color;
            position: relative;
            z-index: 1;
            font: {
                size: $font-size;
                weight: 700;
            }
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                background: $black-color;
                transition: $transition;
                height: 1px;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                color: $black-color;

                &::before {
                    visibility: visible;
                    opacity: 1;
                    right: -20px;
                }
            }
        }
    }
    &:hover {
        .post-content {
            h3 {
                a {
                    background-size: 100% 2px;
                }
            }
            .read-more-btn {
                color: $black-color;

                &::before {
                    visibility: visible;
                    opacity: 1;
                    right: -20px;
                }
            }
        }
        .post-image {    
            a {
                img {
                    transform: scale(1.1) rotate(2deg);
                    opacity: 0.9;
                }
            }
        }
    }
    &.gray-light-color {
        .post-content {
            border-color: #c4cdce;

            .read-more-btn {
                color: $black-color;
            }
        }
    }
    &.white-color {
        .post-content {
            border-color: #2d2d2d;
            
            h3 {
                a {
                    color: $white-color;
                }
            }
            p {
                color: #e5e5e5;
            }
            .read-more-btn {
                color: $white-color;
                
                &::before {
                    background: $main-color;
                }
                &:hover {
                    color: $main-color;
                }
            }
        }
        &:hover {
            .read-more-btn {
                color: $main-color;
            }
        }
    }
}

/*================================================
CTA Area CSS
=================================================*/
.cta-area {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        background: {
            image: url(../../assets/img/black-bg.png);
            position: center bottom;
            size: cover;
            repeat: no-repeat;
        }
    }
    &.bg-gray-light {
        &::before {
            background: {
                image: url(../../assets/img/gray-black-bg.png);
            }
        }
    }
    &.bg-pink-color {
        background-color: #f4feff;

        &::before {
            background: {
                image: url(../../assets/img/pink-bg.png);
            }
        }
    }
}
.cta-content {
    text-align: center;

    h2 {
        margin-bottom: 0;
        color: $white-color;
        font: {
            size: 55px;
            weight: 700;
        }
    }
    span {
        display: block;
        font-size: 20px;
        color: #ebebeb;
        margin: {
            top: 20px;
            bottom: 30px;
        }
    }
}

/*================================================
Contact Area CSS
=================================================*/
.contact-info {
    padding-right: 15px;

    h3 {
        margin-bottom: 20px;
        font: {
            size: 24px;
            weight: 700;
        }
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    .contact-info-list {
        li {
            margin-bottom: 10px;
            color: #3b3b3b;
            font: {
                size: $font-size;
                weight: 600
            }
            span {
                font-weight: 700;
                color: $black-color;
                margin-right: 8px;
            }
            a {
                display: inline-block;
                color: #3b3b3b;

                &:hover {
                    color: $black-color;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .social {
        li {
            display: inline-block;

            a {
                width: 35px;
                height: 35px;
                background-color: #343434;
                color: $white-color;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;

                &:hover {
                    color: $white-color;
                    background-color: $black-color;
                }
            }
        }
    }
    &.white-color {
        h3 {
            color: $white-color;
        }
        .contact-info-list {
            li {
                color: $white-color;

                span {
                    color: $white-color;
                }
                a {
                    color: $white-color;
                }
            }
        }
        .social {
            li {
                a {
                    &:hover {
                        color: $white-color;
                        background-color: $main-color;
                    }
                }
            }
        }
    }
}
#contactForm {
    .form-group {
        margin-bottom: 25px;
    }
    .btn-primary {
        background-color: $black-color;
        color: $white-color;

        &:hover {
            color: $black-color;
            background-color: $white-color;
        }
        &.main-color-btn {
            color: $black-color;
            background-color: $main-color;
            
            &:hover, &:focus {
                background-color: $black-color;
                color: $white-color;
            }
        }
    }
    .with-errors {
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: {
                bottom: 0;
                top: 5px;
            }
            li {
                color: red;
                font-size: 14px;
            }
        }
    }
    .text-danger, .text-success {
        margin: {
            bottom: 0;
            top: 15px;
        }
        font: {
            size: 24px;
            weight: 700;
        }
    }
    #msgSubmit {
        margin-bottom: 0;
    }
    &.white-color {
        .form-control {
            border-color: #5d5d5d;
            color: $white-color;

            &::placeholder {
                color: #ececec;
            }
        }
        .btn-primary {
            color: $black-color;
            background-color: $main-color;
            
            &:hover, &:focus {
                background-color: $white-color;
                color: $black-color;
            }
        }
    }
}

/*================================================
Page Title Area CSS
=================================================*/
.page-title-area {
    text-align: center;
    padding: {
        top: 150px;
        bottom: 80px;
    }
    h2 {
        margin-bottom: 0;
        font: {
            size: 35px;
            weight: 700;
        }
    }
}

/*================================================
Blog Details Area CSS
=================================================*/
.blog-details {
    .article-image {
        img {
            border-radius: 5px;
            width: 100%;
        }
    }
    .article-content {
        margin-top: 30px;

        .entry-meta {
            margin-bottom: 20px;
    
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;
    
                li {
                    margin: 0 10px;
                    position: relative;
                    display: inline-block;
                    color: #dcdce4;
    
                    img {
                        width: 30px !important;
                        height: 30px;
                        border-radius: 50%;
                        padding-right: 3px;
                        position: relative;
                        top: -1.5px;
                    }
                    a {
                        display: inline-block;
                        color: #dcdce4;
    
                        &:hover {
                            color: $main-color;
                        }
                    }
                    i {
                        color: $main-color;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -15px;
                        width: 6px;
                        height: 1px;
                        background: $white-color;
                    }
                    &:last-child {
                        margin-right: 0;

                        &::before {
                            display: none;
                        }
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        h3 {
            margin-bottom: 17px;
            color: $white-color;
            font: {
                size: 24px;
                weight: 700;
            }
        }
        p {
            color: #dcdce4;
        }
        .wp-block-gallery {
            &.columns-3 {
                padding-left: 0;
                list-style-type: none;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin: {
                    right: -15px;
                    left: -15px;
                    bottom: 30px;
                    top: 30px;
                }
                li {
                    -ms-flex: 0 0 33.3333%;
                    flex: 0 0 33.3333%;
                    max-width: 33.3333%;
                    padding: {
                        right: 15px;
                        left: 15px;
                    }
                    figure {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .article-features-list {
            padding-left: 0;
            list-style-type: none;
            margin: {
                bottom: 15px;
                left: 20px;
            }
            li {
                margin-bottom: 12px;
                color: $white-color;
                position: relative;
                padding-left: 15px;

                &::before {
                    background: $white-color;
                    height: 7px;
                    width: 7px;
                    content: '';
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    position: absolute;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .article-footer {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: {
            top: 15px;
            bottom: 15px;
        }
        border: {
            top: 1px solid #eeeeee;
            bottom: 1px solid #eeeeee;
        }
        margin: {
            top: 30px;
        }
        .article-tags {
            -ms-flex: 0 0 50%;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
            color: $white-color;
            
            span {
                display: inline-block;
                color: $white-color;
                font-size: 20px;
                margin-right: 5px;
                position: relative;
                top: 2px;
            }
            a {
                display: inline-block;
                color: $white-color;

                &:hover {
                    color: $main-color;
                }
            }
        }
        .article-share {
            -ms-flex: 0 0 50%;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
            
            .social {
                padding-left: 0;
                list-style-type: none;
                text-align: right;
                margin: {
                    bottom: 0;
                }
                li {
                    display: inline-block;
        
                    a {
                        position: relative;
                        color: $white-color;
                        background-color: $black-color;
                        width: 33px;
                        height: 33px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 13px;
                        z-index: 1;
        
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            z-index: -1;
                            transform: scale(0);
                            background: $main-color;
                            opacity: 0;
                            visibility: hidden;
                            transition: $transition;
                        }
                        &:hover {
                            color: $black-color;
        
                            &::before {
                                opacity: 1;
                                visibility: visible;
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
blockquote, .blockquote {
    overflow: hidden;
    background-color: $black-color;
    padding: 50px !important;
    position: relative;
    text-align: center;
    z-index: 1;
    margin: {
        bottom: 20px;
        top: 20px;
    }
    p {
        line-height: 1.6;
        margin-bottom: 0;
        font: {
            style: italic;
            weight: 500;
            size: 20px !important;
        }
    }
    cite {
        display: none;
    }
    &::before {
        color: #111111;
        content: "\f10b";
        position: absolute;
        left: 50px;
        top: -50px;
        z-index: -1;
        font: {
            family: Flaticon;
            size: 140px;
            style: normal;
        }
    }
}
.comments-area {
    background-color: $black-color;
    padding: 25px 20px;
    margin-top: 30px;
    border-radius: 5px;

    .comments-title {
        position: relative;
        color: $white-color;
        margin: {
            bottom: 30px;
        }
        line-height: initial;
        font: {
            size: 24px;
            weight: 700;
        }
        &::before {
            content: '';
            height: 25px;
            width: 3px;
            left: -20px;
            position: absolute;
            background: $main-color;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    ol, ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .comment-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .children {
        margin-left: 20px;
    }
    .comment-body {
        border-bottom: 1px solid #eeeeee;
        padding-left: 65px;
        color: $white-color;
        font-size: 14px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .reply {
            margin-top: 15px;

            a {
                border: 1px solid #eeeeee;
                color: $white-color;
                display: inline-block;
                padding: 5px 20px;
                border-radius: 30px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                font: {
                    size: 12px;
                    weight: 600;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition;
                    border-radius: 30px;
                    background: $main-color;
                }
                &:hover {
                    color: $black-color;
                    border-color: $main-color;

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .comment-content {
            p {
                color: #dcdce4;
            }
        }
    }
    .comment-meta {
        margin-bottom: .8em;
    }
    .comment-author {
        font-size: 15px;
        margin-bottom: 0.4em;
        position: relative;
        z-index: 2;

        .avatar {
            height: 50px;
            left: -65px;
            position: absolute;
            width: 50px;
        }
        .fn {
            font: {
                weight: 600;
            }
        }
        .says {
            display: none;
        }
    }
    .comment-metadata {
        color: $white-color;
        letter-spacing: 0.10em;
        text-transform: uppercase;
        font: {
            size: 11px;
            weight: 600;
        }
        a {
            color: $white-color;

            &:hover {
                color: $main-color;
            }
        }
    }
    .comment-content {
        p {
            font-size: 14px;
        }
    }
    .comment-respond {
        .comment-reply-title {
            margin: 0;
            position: relative;
            color: $white-color;
            font: {
                size: 24px;
                weight: 700;
            }
            &::before {
                content: '';
                height: 25px;
                width: 3px;
                left: -20px;
                position: absolute;
                background: $main-color;
                top: 50%;
                transform: translateY(-50%);
            }
            #cancel-comment-reply-link {
                font-size: 15px;
                display: inline-block;
            }
        }
        .comment-form {
            overflow: hidden;
        }
        .comment-notes {
            font-size: 15px;
            color: #dcdce4;
            margin: {
                bottom: 0;
                top: 10px;
            }
            .required {
                color: red;
            }
        }
        .comment-form-comment {
            margin-top: 15px;
            float: left;
            width: 100%;
        }
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: 600;
            color: #dcdce4;
        }
        input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
            display: block;
            width: 100%;
            background-color: transparent;
            border: 1px solid #dddddd;
            padding: 0.625em 0.7375em;
            outline: 0;
            transition: $transition;
            color: $white-color;

            &:focus {
                border-color: $main-color;
            }
            &::placeholder {
                color: #dcdce4;
            }
        }
        .comment-form-author {
            float: left;
            width: 50%;
            padding-right: 10px;
            margin-bottom: 20px;
        }
        .comment-form-email {
            float: left;
            width: 50%;
            padding-left: 12px;
            margin-bottom: 20px;
        }
        .comment-form-url {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }
        .comment-form-cookies-consent {
            width: 100%;
            float: left;
            position: relative;
            padding-left: 20px;
            margin-bottom: 20px;

            input {
                position: absolute;
                left: 0;
                top: 6px;
            }
            label {
                display: inline-block;
                margin: 0;
                color: $white-color;
                font-weight: normal;
            }
        }
        .form-submit {
            float: left;
            width: 100%;

            input {
                background: $main-color;
                border: none;
                color: $black-color;
                padding: 10.5px 25px;
                display: inline-block;
                cursor: pointer;
                outline: 0;
                border-radius: 0;
                text-transform: uppercase;
                transition: $transition;
                font: {
                    weight: 700;
                    size: 14px;
                }
                &:hover, &:focus {
                    color: $black-color;
                    background-color: $white-color;
                }
            }
        }
    }
}

/*================================================
Pagination CSS
=================================================*/
.pagination-area {
    margin-top: 40px;
    text-align: center;

    .page-numbers {
        width: 40px;
        height: 40px;
        margin: 0 3px;
        display: inline-block;
        background-color: $main-color;
        line-height: 42px;
        color: $black-color;
        font: {
            size: 18px;
            weight: 700;
        }
        &.current, &:hover, &:focus {
            color: $black-color;
            background-color: $white-color;

            &::before {
                opacity: 1;
                visibility: visible;
                width: 100%;
            }
        }
    }
}

/*================================================
Copyright Area CSS
=================================================*/
.copyright-area {
    text-align: center;
    background-color: $black-color;
    padding: {
        top: 25px;
        bottom: 25px;
    }
    p {
        margin-bottom: 0;
        line-height: initial;
        color: #f4f4f4;
        font-size: 15px;

        i {
            margin-right: 2px;
        }
    }
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
	position: fixed;
	cursor: pointer;
    top: 0;
	right: 15px;
    background-color: $black-color;
    color: $white-color;
	z-index: 4;
	width: 40px;
	text-align: center;
	height: 40px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    transition: .9s;
    
    &.active {
        top: 98%;
        transform: translateY(-98%);
        opacity: 1;
        visibility: visible;
    }
    &:hover, &:focus {
        background-color: $white-color;
        color: $black-color;
    }
}