/*
@File: Alysa Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default Area CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - Services Area CSS
** - Portfolio Area CSS
** - About Area CSS
** - Testimonial Area CSS
** - Blog Area CSS
** - CTA Area CSS
** - Page Title Area CSS
** - Blog Details Area CSS
** - Contact Area CSS
** - Copyright Area CSS
** - Go Top Area CSS
*/
/*================================================
Default Area CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

a {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #000000;
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

.bg-main-color {
  background-color: #ffde29;
}

.bg-black-color {
  background-color: #000000;
}

.bg-gray-light {
  background-color: #f4feff;
}

.bg-gray-black {
  background-color: #011f34;
}

.bg-pink-color {
  background-color: #ff1493;
}

.bg-dark-color {
  background-color: #000000;
}

.bg-gray-dark {
  background-color: #111111;
}

.bg-f6f7fd {
  background-color: #f6f7fd;
}

.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*section-title*/
.section-title {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  margin-bottom: 30px;
  margin-top: -9px;
}

.section-title h2 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.section-title .back-text {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  color: #000000;
  opacity: .04;
  text-transform: uppercase;
  font-size: 146px;
  font-weight: 900;
}

.section-title::before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 1px;
  height: 50px;
  background: #000000;
  position: absolute;
}

.section-title.white-color h2 {
  color: #ffffff;
}

.section-title.white-color .back-text {
  opacity: .06;
  color: #ffffff;
}

.section-title.white-color::before {
  background: #ffde29;
}

/*btn-primary*/
.btn {
  border: none;
  padding: 11px 32px;
  line-height: initial;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.btn-primary {
  color: #000000;
  background-color: #ffde29;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
  color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:hover, .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
  color: #000000;
}

/*form-control */
.form-control {
  height: 35px;
  padding: 0 0 15px;
  font-size: 15px;
  line-height: initial;
  color: #000000;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control::-webkit-input-placeholder {
  color: #000000;
}

.form-control:-ms-input-placeholder {
  color: #000000;
}

.form-control::-ms-input-placeholder {
  color: #000000;
}

.form-control::placeholder {
  color: #000000;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

textarea.form-control {
  min-height: 120px;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 999999;
  text-align: center;
}

.preloader .spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 46%;
  -webkit-transform: translateY(-46%);
          transform: translateY(-46%);
}

.preloader .spinner .double-bounce1, .preloader .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
}

.preloader .spinner .double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*================================================
Navbar Area CSS
=================================================*/
.bg-light {
  background-color: #ffde29 !important;
}

.bg-light.bg-gray-light {
  background-color: #f4feff !important;
}

.bg-light.bg-dark-color {
  background-color: #000000 !important;
}

.bg-light.transparent-navbar {
  background-color: transparent !important;
}

.navbar {
  padding: 0;
}

.navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.navbar-style-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  padding-top: 20px;
}

.navbar.navbar-style-two.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.navbar-style-three {
  position: relative;
  margin-top: -60px;
}

.navbar.navbar-style-three.is-sticky {
  margin-top: 0;
  position: fixed;
}

.navbar.transparent-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  padding-top: 20px;
}

.navbar.transparent-navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-light .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav {
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-item {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #000000;
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1.5px;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover::before, .navbar-light .navbar-nav .nav-item .nav-link.active::before {
  width: 100%;
  right: auto;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.navbar-light .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.navbar-light .navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.navbar-light.bg-dark-color .navbar-brand img:nth-child(2) {
  display: none;
}

.navbar-light.bg-dark-color .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-light.bg-dark-color .navbar-nav .nav-item .nav-link::before {
  background: #ffffff;
}

.navbar-light.bg-dark-color.is-sticky .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.navbar-light.bg-dark-color.is-sticky .navbar-nav .nav-item .nav-link::before {
  background: #000000;
}

.navbar-light.bg-dark-color.is-sticky .navbar-brand img:nth-child(1) {
  display: none;
}

.navbar-light.bg-dark-color.is-sticky .navbar-brand img:nth-child(2) {
  display: block;
}

.navbar-light.transparent-navbar .navbar-brand img:nth-child(2) {
  display: none;
}

.navbar-light.transparent-navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar-light.transparent-navbar .navbar-nav .nav-item .nav-link::before {
  background: #ffffff;
}

.navbar-light.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.navbar-light.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link::before {
  background: #000000;
}

.navbar-light.transparent-navbar.is-sticky .navbar-brand img:nth-child(1) {
  display: none;
}

.navbar-light.transparent-navbar.is-sticky .navbar-brand img:nth-child(2) {
  display: block;
}

/*================================================
Main Banner Area CSS
=================================================*/
.home-area {
  overflow: hidden;
}

.main-banner {
  height: 100vh;
}

.particles-js-banner {
  position: relative;
}

.particles-js-banner .main-banner-content {
  position: relative;
  z-index: 2;
}

.particles-js-banner .banner-image {
  position: relative;
  z-index: 2;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-banner-content span {
  display: block;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.main-banner-content .title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: -10px;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 150px;
}

.main-banner-content .title h5 {
  margin-bottom: 0;
  color: #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.main-banner-content .title h1 {
  margin-bottom: 0;
  color: #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  font-size: 52px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.main-banner-content .title::before {
  position: absolute;
  left: -110px;
  top: 0;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/paper-shape.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner-content p {
  font-family: "Poppins", sans-serif;
  display: block;
}

.main-banner-content.white-color span {
  color: #ffffff;
}

.main-banner-content.white-color p {
  color: #ffffff;
}

.main-banner-image {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main-banner-image::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -15px;
  border: 10px solid #eeeeee;
  width: 106%;
  height: 80%;
  z-index: -1;
}

.background-image-banner {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #000000;
  background-image: url(../../assets/img/main-banner1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image-banner::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .78;
  left: 0;
  bottom: 0;
}

.hero-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-content img {
  border-radius: 50%;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff;
}

.hero-content span {
  display: block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

.hero-content .title {
  margin-top: 12px;
  margin-bottom: 17px;
}

.hero-content .title h1 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.hero-content .title h1 a, .hero-content .title h1 span {
  display: inline-block;
  color: #ffde29;
  font-size: 45px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.hero-content p {
  opacity: .90;
  font-family: "Poppins", sans-serif;
  display: block;
  color: #ffffff;
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
  padding-bottom: 90px;
}

.services-area.bg-black-color .section-title h2 {
  color: #ffffff;
}

.services-area.bg-black-color .section-title .back-text {
  opacity: .06;
  color: #ffffff;
}

.services-area.bg-black-color .section-title::before {
  background: #ffde29;
}

.single-services-box {
  margin-bottom: 30px;
  position: relative;
  padding: 30px;
  background: #000000;
}

.single-services-box .icon {
  display: inline-block;
  width: 75px;
  height: 72px;
  background: #ffde29;
  position: absolute;
  top: 0;
  left: 23px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000000;
  text-align: center;
}

.single-services-box .icon i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.single-services-box .icon i::before {
  font-size: 40px;
}

.single-services-box .icon i.flaticon-camera {
  top: 90%;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}

.single-services-box h3 {
  color: #ffffff;
  margin-bottom: 0;
  padding-left: 93px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
  font-weight: 700;
}

.single-services-box p {
  color: #eeeeee;
  margin-top: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box:hover .icon {
  color: #000000;
  background: #ffffff;
}

.single-services-box.bg-main-color {
  background: #ffde29;
}

.single-services-box.bg-main-color .icon {
  background: #000000;
  color: #ffde29;
}

.single-services-box.bg-main-color h3 {
  color: #000000;
}

.single-services-box.bg-main-color p {
  color: #000000;
}

.single-services-box.bg-main-color:hover .icon {
  color: #000000;
  background: #ffffff;
}

.single-services-box.bg-white-color {
  background: #ffffff;
}

.single-services-box.bg-white-color .icon {
  background: #000000;
  color: #ffde29;
}

.single-services-box.bg-white-color h3 {
  color: #000000;
}

.single-services-box.bg-white-color p {
  color: #000000;
}

.single-services-box.bg-white-color:hover .icon {
  color: #000000;
  background: #ffde29;
}

.single-services-box.bg-gray-dark {
  background-color: #111111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.single-services-box.bg-gray-dark:hover {
  background-color: #ffde29;
}

.single-services-box.bg-gray-dark:hover h3 {
  color: #000000;
}

.single-services-box.bg-gray-dark:hover p {
  color: #000000;
}

.single-services-box.bg-dark-color {
  background-color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.single-services-box.bg-dark-color:hover {
  background-color: #ffde29;
}

.single-services-box.bg-dark-color:hover h3 {
  color: #000000;
}

.single-services-box.bg-dark-color:hover p {
  color: #313131;
}

.services-box {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
  padding: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ffffff;
}

.services-box .icon {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box .icon i::before {
  font-size: 30px;
}

.services-box .icon::before {
  content: '';
  position: absolute;
  left: 1px;
  width: 100%;
  height: 100%;
  top: -1px;
  border: 4px solid #e8e7e7;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box .icon::after {
  content: '';
  width: 100%;
  height: 100%;
  left: -3px;
  position: absolute;
  top: -3px;
  border: 2px solid #e8e7e7;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box h3 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
}

.services-box p {
  color: #524c4c;
}

.services-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.services-box:hover .icon::before {
  border-color: #ffde29;
}

.services-box:hover .icon::after {
  border-color: #ffde29;
}

/*================================================
Portfolio Area CSS
=================================================*/
.shorting-menu {
  text-align: center;
  margin-bottom: 20px;
}

.shorting-menu .filter {
  border: 1px solid #000000;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  margin: 0 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
}

.shorting-menu .filter i {
  margin-right: 2px;
}

.shorting-menu .filter i::before {
  font-size: 13px;
}

.shorting-menu .filter.active, .shorting-menu .filter:hover {
  background-color: #000000;
  color: #ffffff;
}

.shorting-menu.white-color .filter {
  background-color: #111111;
  border-color: #111111;
  color: #ffffff;
}

.shorting-menu.white-color .filter.active, .shorting-menu.white-color .filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.shorting .mix {
  display: none;
}

.single-portfolio-box {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

.single-portfolio-box img {
  -webkit-transition: .9s;
  transition: .9s;
}

.single-portfolio-box .popup-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
}

.single-portfolio-box .portfolio-content {
  position: absolute;
  left: 0;
  background-color: #000000;
  bottom: 20px;
  padding: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

.single-portfolio-box .portfolio-content h3 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}

.single-portfolio-box .portfolio-content h3 a {
  color: #ffde29;
}

.single-portfolio-box .portfolio-content span {
  display: block;
  color: #ffffff;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 700;
}

.single-portfolio-box:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
          transform: rotate(15deg) scale(1.4);
}

.single-portfolio-box:hover .portfolio-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

/*================================================
About Area CSS
=================================================*/
.about-image {
  text-align: center;
  position: relative;
  z-index: 1;
}

.about-image .shape-image {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

.about-content {
  padding-left: 25px;
}

.about-content h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.about-content .experience-list {
  padding-left: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.about-content .experience-list li {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dec124;
  font-weight: 600;
  padding-left: 95px;
}

.about-content .experience-list li span {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 17px;
}

.about-content .experience-list li:last-child {
  margin-bottom: 0;
}

.about-content .skills-list {
  position: relative;
}

.about-content .skills-list .skill-item {
  position: relative;
  margin-bottom: 20px;
}

.about-content .skills-list .skill-item .skill-header {
  position: relative;
  margin-bottom: 8px;
}

.about-content .skills-list .skill-item .skill-header .skill-title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.about-content .skills-list .skill-item .skill-header .skill-percentage {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 14px;
  font-weight: 700;
}

.about-content .skills-list .skill-item:last-child {
  margin-bottom: 0;
}

.about-content .skills-list .skill-item .skill-bar {
  position: relative;
  width: 100%;
}

.about-content .skills-list .skill-item .skill-bar .bar-inner {
  position: relative;
  width: 100%;
  border-bottom: 6px solid #dec124;
  border-radius: 30px;
}

.about-content .skills-list .skill-item .skill-bar .bar-inner .bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 7px;
  background: #000000;
  -webkit-transition: all 2000ms ease;
  transition: all 2000ms ease;
  border-radius: 30px;
}

.about-content.gray-light-color .experience-list li {
  border-color: #c8d2d3;
}

.about-content.gray-light-color .skills-list .skill-item .skill-bar .bar-inner {
  border-color: #c8d2d3;
}

.about-content.white-color h3 {
  color: #ffffff;
}

.about-content.white-color .experience-list li {
  border-color: #232323;
  color: #dddddd;
}

.about-content.white-color .skills-list .skill-item .skill-header .skill-title {
  color: #ffffff;
}

.about-content.white-color .skills-list .skill-item .skill-header .skill-percentage {
  color: #ffffff;
}

.about-content.white-color .skills-list .skill-item .skill-bar .bar-inner {
  border-color: #2c2c2c;
}

.about-content.white-color .skills-list .skill-item .skill-bar .bar-inner .bar {
  background: #ffde29;
}

.about-info-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-info-content ul {
  padding-left: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-bottom: 30px;
  margin-right: -15px;
  margin-left: -15px;
}

.about-info-content ul li {
  color: #524c4c;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  margin-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-info-content ul li span {
  font-weight: 700;
  display: inline-block;
  min-width: 85px;
  color: #000000;
}

.about-info-content ul li a {
  display: inline-block;
  color: #000000;
}

.about-info-content .btn-primary:hover, .about-info-content .btn-primary:focus {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.funfacts-area {
  border-top: 1px solid #e3c624;
  border-bottom: 1px solid #e3c624;
  margin-top: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.funfacts-area.gray-light-color {
  border-color: #eeeeee;
}

.funfacts-area.white-color {
  border-color: #232323;
}

.single-funfact {
  text-align: center;
}

.single-funfact h3 {
  margin-bottom: 0;
  font-size: 42px;
  font-weight: 700;
}

.single-funfact h3 .odometer.odometer-auto-theme {
  position: relative;
  top: -3px;
}

.single-funfact p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: initial;
  margin-bottom: 0;
}

.single-funfact.white-color h3 {
  color: #ffde29;
}

.single-funfact.white-color p {
  color: #ffffff;
}

/*================================================
Testimonial Area CSS
=================================================*/
.testimonial-area {
  padding-bottom: 90px;
}

.testimonial-area .section-title h2 {
  color: #ffffff;
}

.testimonial-area .section-title .back-text {
  opacity: .06;
  color: #ffffff;
}

.testimonial-area .section-title::before {
  background: #ffde29;
}

.single-feedback-item {
  margin-bottom: 30px;
  position: relative;
  padding: 20px;
  background-color: #ffde29;
  border-radius: 5px;
}

.single-feedback-item p {
  font-weight: 600;
  margin-bottom: 0;
}

.single-feedback-item .client-info {
  margin-top: 15px;
  position: relative;
  padding-left: 60px;
}

.single-feedback-item .client-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.single-feedback-item .client-info h3 {
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 700;
}

.single-feedback-item .client-info span {
  display: block;
  font-size: 14px;
}

.single-feedback-item i {
  position: absolute;
  color: #000000;
  opacity: .15;
  right: 15px;
  bottom: 0;
}

.single-feedback-item i::before {
  font-size: 75px;
}

.single-feedback-item.bg-white {
  background-color: #ffffff;
}

.single-feedback-item.bg-dark {
  background-color: #000000 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-dark p {
  color: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-dark .client-info h3 {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-dark .client-info span {
  color: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-dark:hover {
  background-color: #ffde29 !important;
}

.single-feedback-item.bg-dark:hover p {
  color: #331133;
}

.single-feedback-item.bg-dark:hover .client-info h3 {
  color: #000000;
}

.single-feedback-item.bg-dark:hover .client-info span {
  color: #331133;
}

.single-feedback-item.bg-gray-dark {
  background-color: #111111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-gray-dark p {
  color: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-gray-dark .client-info h3 {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-gray-dark .client-info span {
  color: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item.bg-gray-dark:hover {
  background-color: #ffde29;
}

.single-feedback-item.bg-gray-dark:hover p {
  color: #313131;
}

.single-feedback-item.bg-gray-dark:hover .client-info h3 {
  color: #000000;
}

.single-feedback-item.bg-gray-dark:hover .client-info span {
  color: #313131;
}

.feedback-area {
  position: relative;
  z-index: 1;
  background-color: #000000;
  background-image: url(../../assets/img/main-banner1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feedback-area::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .78;
  left: 0;
  bottom: 0;
}

.single-feedback {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.single-feedback i {
  font-size: 35px;
  color: #ffffff;
}

.single-feedback p {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 28px;
  font-style: italic;
  font-weight: 600;
}

.single-feedback h3 {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 0;
  margin-top: 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.single-feedback h3 span {
  font-size: 16px;
}

.single-feedback h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 20px;
  height: 1px;
  background: #ffffff;
}

.feedback-slides {
  cursor: e-resize;
}

/*================================================
Blog Area CSS
=================================================*/
.blog-area {
  padding-bottom: 90px;
}

.blog-area .pagination-area {
  margin-bottom: 30px;
}

.single-blog-post {
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-blog-post .post-image {
  overflow: hidden;
}

.single-blog-post .post-image a img {
  border-radius: 5px 5px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-blog-post .post-content {
  border: 1px solid #d9bd23;
  border-top: none;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.single-blog-post .post-content h3 {
  margin-bottom: 13px;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
}

.single-blog-post .post-content h3 a {
  color: #000000;
  position: relative;
  display: inline;
  -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-size: 0px 2px;
  background-position: 0px 95%;
  background-repeat: no-repeat;
}

.single-blog-post .post-content h3 a:hover {
  background-size: 100% 2px;
}

.single-blog-post .post-content p {
  font-weight: 600;
  margin-bottom: 15px;
  color: #313131;
}

.single-blog-post .post-content .read-more-btn {
  display: inline-block;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
}

.single-blog-post .post-content .read-more-btn::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  background: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 1px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.single-blog-post .post-content .read-more-btn:hover {
  color: #000000;
}

.single-blog-post .post-content .read-more-btn:hover::before {
  visibility: visible;
  opacity: 1;
  right: -20px;
}

.single-blog-post:hover .post-content h3 a {
  background-size: 100% 2px;
}

.single-blog-post:hover .post-content .read-more-btn {
  color: #000000;
}

.single-blog-post:hover .post-content .read-more-btn::before {
  visibility: visible;
  opacity: 1;
  right: -20px;
}

.single-blog-post:hover .post-image a img {
  -webkit-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
  opacity: 0.9;
}

.single-blog-post.gray-light-color .post-content {
  border-color: #c4cdce;
}

.single-blog-post.gray-light-color .post-content .read-more-btn {
  color: #000000;
}

.single-blog-post.white-color .post-content {
  border-color: #2d2d2d;
}

.single-blog-post.white-color .post-content h3 a {
  color: #ffffff;
}

.single-blog-post.white-color .post-content p {
  color: #e5e5e5;
}

.single-blog-post.white-color .post-content .read-more-btn {
  color: #ffffff;
}

.single-blog-post.white-color .post-content .read-more-btn::before {
  background: #ffde29;
}

.single-blog-post.white-color .post-content .read-more-btn:hover {
  color: #ffde29;
}

.single-blog-post.white-color:hover .read-more-btn {
  color: #ffde29;
}

/*================================================
CTA Area CSS
=================================================*/
.cta-area {
  position: relative;
  z-index: 1;
}

.cta-area::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url(../../assets/img/black-bg.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-area.bg-gray-light::before {
  background-image: url(../../assets/img/gray-black-bg.png);
}

.cta-area.bg-pink-color {
  background-color: #f4feff;
}

.cta-area.bg-pink-color::before {
  background-image: url(../../assets/img/pink-bg.png);
}

.cta-content {
  text-align: center;
}

.cta-content h2 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
}

.cta-content span {
  display: block;
  font-size: 20px;
  color: #ebebeb;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*================================================
Contact Area CSS
=================================================*/
.contact-info {
  padding-right: 15px;
}

.contact-info h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.contact-info h3:not(:first-child) {
  margin-top: 30px;
}

.contact-info ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.contact-info .contact-info-list li {
  margin-bottom: 10px;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 600;
}

.contact-info .contact-info-list li span {
  font-weight: 700;
  color: #000000;
  margin-right: 8px;
}

.contact-info .contact-info-list li a {
  display: inline-block;
  color: #3b3b3b;
}

.contact-info .contact-info-list li a:hover {
  color: #000000;
}

.contact-info .contact-info-list li:last-child {
  margin-bottom: 0;
}

.contact-info .social li {
  display: inline-block;
}

.contact-info .social li a {
  width: 35px;
  height: 35px;
  background-color: #343434;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.contact-info .social li a:hover {
  color: #ffffff;
  background-color: #000000;
}

.contact-info.white-color h3 {
  color: #ffffff;
}

.contact-info.white-color .contact-info-list li {
  color: #ffffff;
}

.contact-info.white-color .contact-info-list li span {
  color: #ffffff;
}

.contact-info.white-color .contact-info-list li a {
  color: #ffffff;
}

.contact-info.white-color .social li a:hover {
  color: #ffffff;
  background-color: #ffde29;
}

#contactForm .form-group {
  margin-bottom: 25px;
}

#contactForm .btn-primary {
  background-color: #000000;
  color: #ffffff;
}

#contactForm .btn-primary:hover {
  color: #000000;
  background-color: #ffffff;
}

#contactForm .btn-primary.main-color-btn {
  color: #000000;
  background-color: #ffde29;
}

#contactForm .btn-primary.main-color-btn:hover, #contactForm .btn-primary.main-color-btn:focus {
  background-color: #000000;
  color: #ffffff;
}

#contactForm .with-errors ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

#contactForm .with-errors ul li {
  color: red;
  font-size: 14px;
}

#contactForm .text-danger, #contactForm .text-success {
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}

#contactForm #msgSubmit {
  margin-bottom: 0;
}

#contactForm.white-color .form-control {
  border-color: #5d5d5d;
  color: #ffffff;
}

#contactForm.white-color .form-control::-webkit-input-placeholder {
  color: #ececec;
}

#contactForm.white-color .form-control:-ms-input-placeholder {
  color: #ececec;
}

#contactForm.white-color .form-control::-ms-input-placeholder {
  color: #ececec;
}

#contactForm.white-color .form-control::placeholder {
  color: #ececec;
}

#contactForm.white-color .btn-primary {
  color: #000000;
  background-color: #ffde29;
}

#contactForm.white-color .btn-primary:hover, #contactForm.white-color .btn-primary:focus {
  background-color: #ffffff;
  color: #000000;
}

/*================================================
Page Title Area CSS
=================================================*/
.page-title-area {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 80px;
}

.page-title-area h2 {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 700;
}

/*================================================
Blog Details Area CSS
=================================================*/
.blog-details .article-image img {
  border-radius: 5px;
  width: 100%;
}

.blog-details .article-content {
  margin-top: 30px;
}

.blog-details .article-content .entry-meta {
  margin-bottom: 20px;
}

.blog-details .article-content .entry-meta ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.blog-details .article-content .entry-meta ul li {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  color: #dcdce4;
}

.blog-details .article-content .entry-meta ul li img {
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  padding-right: 3px;
  position: relative;
  top: -1.5px;
}

.blog-details .article-content .entry-meta ul li a {
  display: inline-block;
  color: #dcdce4;
}

.blog-details .article-content .entry-meta ul li a:hover {
  color: #ffde29;
}

.blog-details .article-content .entry-meta ul li i {
  color: #ffde29;
}

.blog-details .article-content .entry-meta ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -15px;
  width: 6px;
  height: 1px;
  background: #ffffff;
}

.blog-details .article-content .entry-meta ul li:last-child {
  margin-right: 0;
}

.blog-details .article-content .entry-meta ul li:last-child::before {
  display: none;
}

.blog-details .article-content .entry-meta ul li:first-child {
  margin-left: 0;
}

.blog-details .article-content h3 {
  margin-bottom: 17px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.blog-details .article-content p {
  color: #dcdce4;
}

.blog-details .article-content .wp-block-gallery.columns-3 {
  padding-left: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-details .article-content .wp-block-gallery.columns-3 li {
  -ms-flex: 0 0 33.3333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-right: 15px;
  padding-left: 15px;
}

.blog-details .article-content .wp-block-gallery.columns-3 li figure {
  margin-bottom: 0;
}

.blog-details .article-content .article-features-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 15px;
  margin-left: 20px;
}

.blog-details .article-content .article-features-list li {
  margin-bottom: 12px;
  color: #ffffff;
  position: relative;
  padding-left: 15px;
}

.blog-details .article-content .article-features-list li::before {
  background: #ffffff;
  height: 7px;
  width: 7px;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  position: absolute;
}

.blog-details .article-content .article-features-list li:last-child {
  margin-bottom: 0;
}

.blog-details .article-footer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 30px;
}

.blog-details .article-footer .article-tags {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  color: #ffffff;
}

.blog-details .article-footer .article-tags span {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.blog-details .article-footer .article-tags a {
  display: inline-block;
  color: #ffffff;
}

.blog-details .article-footer .article-tags a:hover {
  color: #ffde29;
}

.blog-details .article-footer .article-share {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.blog-details .article-footer .article-share .social {
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;
}

.blog-details .article-footer .article-share .social li {
  display: inline-block;
}

.blog-details .article-footer .article-share .social li a {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  width: 33px;
  height: 33px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  z-index: 1;
}

.blog-details .article-footer .article-share .social li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #ffde29;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog-details .article-footer .article-share .social li a:hover {
  color: #000000;
}

.blog-details .article-footer .article-share .social li a:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

blockquote, .blockquote {
  overflow: hidden;
  background-color: #000000;
  padding: 50px !important;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

blockquote p, .blockquote p {
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 20px !important;
}

blockquote cite, .blockquote cite {
  display: none;
}

blockquote::before, .blockquote::before {
  color: #111111;
  content: "\f10b";
  position: absolute;
  left: 50px;
  top: -50px;
  z-index: -1;
  font-family: Flaticon;
  font-size: 140px;
  font-style: normal;
}

.comments-area {
  background-color: #000000;
  padding: 25px 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.comments-area .comments-title {
  position: relative;
  color: #ffffff;
  margin-bottom: 30px;
  line-height: initial;
  font-size: 24px;
  font-weight: 700;
}

.comments-area .comments-title::before {
  content: '';
  height: 25px;
  width: 3px;
  left: -20px;
  position: absolute;
  background: #ffde29;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.comments-area ol, .comments-area ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.comments-area .comment-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.comments-area .children {
  margin-left: 20px;
}

.comments-area .comment-body {
  border-bottom: 1px solid #eeeeee;
  padding-left: 65px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.comments-area .comment-body .reply {
  margin-top: 15px;
}

.comments-area .comment-body .reply a {
  border: 1px solid #eeeeee;
  color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 12px;
  font-weight: 600;
}

.comments-area .comment-body .reply a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 30px;
  background: #ffde29;
}

.comments-area .comment-body .reply a:hover {
  color: #000000;
  border-color: #ffde29;
}

.comments-area .comment-body .reply a:hover::before {
  opacity: 1;
  visibility: visible;
}

.comments-area .comment-body .comment-content p {
  color: #dcdce4;
}

.comments-area .comment-meta {
  margin-bottom: .8em;
}

.comments-area .comment-author {
  font-size: 15px;
  margin-bottom: 0.4em;
  position: relative;
  z-index: 2;
}

.comments-area .comment-author .avatar {
  height: 50px;
  left: -65px;
  position: absolute;
  width: 50px;
}

.comments-area .comment-author .fn {
  font-weight: 600;
}

.comments-area .comment-author .says {
  display: none;
}

.comments-area .comment-metadata {
  color: #ffffff;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

.comments-area .comment-metadata a {
  color: #ffffff;
}

.comments-area .comment-metadata a:hover {
  color: #ffde29;
}

.comments-area .comment-content p {
  font-size: 14px;
}

.comments-area .comment-respond .comment-reply-title {
  margin: 0;
  position: relative;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.comments-area .comment-respond .comment-reply-title::before {
  content: '';
  height: 25px;
  width: 3px;
  left: -20px;
  position: absolute;
  background: #ffde29;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.comments-area .comment-respond .comment-reply-title #cancel-comment-reply-link {
  font-size: 15px;
  display: inline-block;
}

.comments-area .comment-respond .comment-form {
  overflow: hidden;
}

.comments-area .comment-respond .comment-notes {
  font-size: 15px;
  color: #dcdce4;
  margin-bottom: 0;
  margin-top: 10px;
}

.comments-area .comment-respond .comment-notes .required {
  color: red;
}

.comments-area .comment-respond .comment-form-comment {
  margin-top: 15px;
  float: left;
  width: 100%;
}

.comments-area .comment-respond label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #dcdce4;
}

.comments-area .comment-respond input[type="date"], .comments-area .comment-respond input[type="time"], .comments-area .comment-respond input[type="datetime-local"], .comments-area .comment-respond input[type="week"], .comments-area .comment-respond input[type="month"], .comments-area .comment-respond input[type="text"], .comments-area .comment-respond input[type="email"], .comments-area .comment-respond input[type="url"], .comments-area .comment-respond input[type="password"], .comments-area .comment-respond input[type="search"], .comments-area .comment-respond input[type="tel"], .comments-area .comment-respond input[type="number"], .comments-area .comment-respond textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #dddddd;
  padding: 0.625em 0.7375em;
  outline: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

.comments-area .comment-respond input[type="date"]:focus, .comments-area .comment-respond input[type="time"]:focus, .comments-area .comment-respond input[type="datetime-local"]:focus, .comments-area .comment-respond input[type="week"]:focus, .comments-area .comment-respond input[type="month"]:focus, .comments-area .comment-respond input[type="text"]:focus, .comments-area .comment-respond input[type="email"]:focus, .comments-area .comment-respond input[type="url"]:focus, .comments-area .comment-respond input[type="password"]:focus, .comments-area .comment-respond input[type="search"]:focus, .comments-area .comment-respond input[type="tel"]:focus, .comments-area .comment-respond input[type="number"]:focus, .comments-area .comment-respond textarea:focus {
  border-color: #ffde29;
}

.comments-area .comment-respond input[type="date"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="time"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="datetime-local"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="week"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="month"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="text"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="email"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="url"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="password"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="search"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="tel"]::-webkit-input-placeholder, .comments-area .comment-respond input[type="number"]::-webkit-input-placeholder, .comments-area .comment-respond textarea::-webkit-input-placeholder {
  color: #dcdce4;
}

.comments-area .comment-respond input[type="date"]:-ms-input-placeholder, .comments-area .comment-respond input[type="time"]:-ms-input-placeholder, .comments-area .comment-respond input[type="datetime-local"]:-ms-input-placeholder, .comments-area .comment-respond input[type="week"]:-ms-input-placeholder, .comments-area .comment-respond input[type="month"]:-ms-input-placeholder, .comments-area .comment-respond input[type="text"]:-ms-input-placeholder, .comments-area .comment-respond input[type="email"]:-ms-input-placeholder, .comments-area .comment-respond input[type="url"]:-ms-input-placeholder, .comments-area .comment-respond input[type="password"]:-ms-input-placeholder, .comments-area .comment-respond input[type="search"]:-ms-input-placeholder, .comments-area .comment-respond input[type="tel"]:-ms-input-placeholder, .comments-area .comment-respond input[type="number"]:-ms-input-placeholder, .comments-area .comment-respond textarea:-ms-input-placeholder {
  color: #dcdce4;
}

.comments-area .comment-respond input[type="date"]::-ms-input-placeholder, .comments-area .comment-respond input[type="time"]::-ms-input-placeholder, .comments-area .comment-respond input[type="datetime-local"]::-ms-input-placeholder, .comments-area .comment-respond input[type="week"]::-ms-input-placeholder, .comments-area .comment-respond input[type="month"]::-ms-input-placeholder, .comments-area .comment-respond input[type="text"]::-ms-input-placeholder, .comments-area .comment-respond input[type="email"]::-ms-input-placeholder, .comments-area .comment-respond input[type="url"]::-ms-input-placeholder, .comments-area .comment-respond input[type="password"]::-ms-input-placeholder, .comments-area .comment-respond input[type="search"]::-ms-input-placeholder, .comments-area .comment-respond input[type="tel"]::-ms-input-placeholder, .comments-area .comment-respond input[type="number"]::-ms-input-placeholder, .comments-area .comment-respond textarea::-ms-input-placeholder {
  color: #dcdce4;
}

.comments-area .comment-respond input[type="date"]::placeholder, .comments-area .comment-respond input[type="time"]::placeholder, .comments-area .comment-respond input[type="datetime-local"]::placeholder, .comments-area .comment-respond input[type="week"]::placeholder, .comments-area .comment-respond input[type="month"]::placeholder, .comments-area .comment-respond input[type="text"]::placeholder, .comments-area .comment-respond input[type="email"]::placeholder, .comments-area .comment-respond input[type="url"]::placeholder, .comments-area .comment-respond input[type="password"]::placeholder, .comments-area .comment-respond input[type="search"]::placeholder, .comments-area .comment-respond input[type="tel"]::placeholder, .comments-area .comment-respond input[type="number"]::placeholder, .comments-area .comment-respond textarea::placeholder {
  color: #dcdce4;
}

.comments-area .comment-respond .comment-form-author {
  float: left;
  width: 50%;
  padding-right: 10px;
  margin-bottom: 20px;
}

.comments-area .comment-respond .comment-form-email {
  float: left;
  width: 50%;
  padding-left: 12px;
  margin-bottom: 20px;
}

.comments-area .comment-respond .comment-form-url {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.comments-area .comment-respond .comment-form-cookies-consent {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}

.comments-area .comment-respond .comment-form-cookies-consent input {
  position: absolute;
  left: 0;
  top: 6px;
}

.comments-area .comment-respond .comment-form-cookies-consent label {
  display: inline-block;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
}

.comments-area .comment-respond .form-submit {
  float: left;
  width: 100%;
}

.comments-area .comment-respond .form-submit input {
  background: #ffde29;
  border: none;
  color: #000000;
  padding: 10.5px 25px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-size: 14px;
}

.comments-area .comment-respond .form-submit input:hover, .comments-area .comment-respond .form-submit input:focus {
  color: #000000;
  background-color: #ffffff;
}

/*================================================
Pagination CSS
=================================================*/
.pagination-area {
  margin-top: 40px;
  text-align: center;
}

.pagination-area .page-numbers {
  width: 40px;
  height: 40px;
  margin: 0 3px;
  display: inline-block;
  background-color: #ffde29;
  line-height: 42px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.pagination-area .page-numbers.current, .pagination-area .page-numbers:hover, .pagination-area .page-numbers:focus {
  color: #000000;
  background-color: #ffffff;
}

.pagination-area .page-numbers.current::before, .pagination-area .page-numbers:hover::before, .pagination-area .page-numbers:focus::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/*================================================
Copyright Area CSS
=================================================*/
.copyright-area {
  text-align: center;
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright-area p {
  margin-bottom: 0;
  line-height: initial;
  color: #f4f4f4;
  font-size: 15px;
}

.copyright-area p i {
  margin-right: 2px;
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 15px;
  background-color: #000000;
  color: #ffffff;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
}

.go-top.active {
  top: 98%;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  background-color: #ffffff;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */